<ion-content>
  <div class="main_content_div">

    <div>
      <ion-label class="head_lbl text-center">पासवर्ड विसरलात का ?
      </ion-label>
      <form #registration="ngForm">
        <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>

        <ion-button (click)="ressetPassword()" expand="block">
          Submit
        </ion-button>
      </form>
      <ion-label class="forgot" (click)="goToLogin()">लॉगिन करायचे आहे का ? </ion-label>
    </div>

    <div class="bottom_div">
      <ion-label (click)="goToRegister()">नवीन खाते तयार करायचे आहे का ? <span>Sign Up</span></ion-label>
    </div>

  </div>
</ion-content>